
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');


/*Estilo geral*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    width: 2px;
    background-color: #F2668B;
    border-radius: 25px;
}
body{
    background-color: #011F26;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color: #F2668B;
}
button:hover{
    box-shadow: 0px 0px 15px #fff;
    transform: scale(1.05);
}

/*Estilo do cabecalho*/

header{
    padding: 40px 4%;
    
    

}


header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    
    
   
}
.interface.hidden nav{
   background-color: #F2668B;
   top: 0;
   border-radius: 20px;
   z-index: 10000;
   position: fixed;
   justify-content: space-between;
   text-align: center;
   transition: .8s;
   width: 70%;
   padding: 0;

   

}
header .interface.hidden a{
    color: #fff;
}
header .interface.hidden a:hover{
    color: #7d7d7d;
}
header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.05);
}
header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}
 .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #F2668B;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
.logo img{
    width: 100px;
}
.logo img:hover{
    transform: scale(1.7);
    transition: .2s;
}

/*estilo do menu mobile*/
.btn-abrir-menu i{
    display: none;
    color: #F2668B;
    font-size: 60px;
}
.menu-mobile{
    background-color: #025e73e5;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 0%;
    overflow: hidden;
    transition: .4s;
}
.menu-mobile.abrir-menu{
    width: 70%;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}
.menu-mobile nav ul{
    text-align: right;
}
.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}
.menu-mobile nav ul li a:hover{
    background-color: #F2668B;
}
.menu-mobile .btn-fechar i{
    color: #F2668B;
    font-size: 30px;
}
.menu-mobile .btn-fechar{
    padding: 20px 5%;
}
.overlay-menu{
    background-color: #000000a4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    display: none;
}

/* Estilo do Topo*/

section .topo-do-site{
    padding: 40px 4%;
}
section .topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 50px;
}
.topo-do-site .txt-topo-site{
    
    padding-right: 150px;
}
.topo-do-site .txt-topo-site span{
    color: #F2668B;
}
.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}
.img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 450px;
    border: solid 2px#F2668B;
    border-radius: 250px;
    transition: .4s;
}
.img-topo-site img:hover{
    box-shadow: 0px 0px 30px #fff;
    transform: scale(1.05);
}


@keyframes flutuar{

    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES*/

section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 60px;
    text-align: center;
    
}
section.especialidades .flex p{
    text-align: center;
}
.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff50;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #F2668B;
}
.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/*Estilo do sobre*/

section.sobre{
    padding: 80px 4%;
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .img-sobre img{
    width: 600px;
    border: solid 2px#F2668B;
    border-radius: 100px;
    transition: .4s;
    
}
.sobre .img-sobre img:hover{
    box-shadow: 0px 0px 15px #fff;
    transform: scale(1.05);
}
.sobre .txt-sobre{
    color: #fff;

}
.sobre .txt-sobre h2{
    font-size: 37px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre span{
    color: #F2668B;
    display: block;
    
}

.sobre .txt-sobre p{
    margin: 30px 0;
    text-align: justify;
}
.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color:#F2668B;
    font-size: 25px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
}

/*ESTILO DOS PROJETOS*/

section.projetos{
    padding: 80px 4%;
    
   
    
}
section.projetos .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-color: #F2668B;
    background-size: cover;
    background-position: 100% 0%;
    transition: .5s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}
.img-port p{
    font-size: 20px;
}
.img-port:hover{
    box-shadow: 0 0 15px #fff;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #13080bb4;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}
.overlay a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.overlay:hover{
    opacity: 1;
}

@media screen and (max-width: 1020px){
    /*geral*/
    .flex{
        flex-direction: column;
    }
    /*cabecalho*/
    .menu-desktop, .btn-contato{
        display: none;
    }
    .logo img{
        transform: scale(1.5);
    }
    .btn-abrir-menu i{
        display: block;
    }

    /*Topo*/
    .section.topo-do-site{
        padding: 40px 8%;
       
    }
    .topo-do-site .txt-topo-site{
    
        padding: 8px;
    }
    .txt-topo-site{
        margin: 0 10%;
        padding:  8px 8px 8px 8px;
        text-align: center;
        
        
        
       
    }

    .img-topo-site img{
        width: 100%;
        margin-bottom: 40px;
        border-radius: 30px;
        
        
    }
    .img-topo-site{
        padding: 20px 8%;
    }
    .topo-do-site .flex{
        flex-direction: column-reverse;
        gap: 40px;
        
    }
 
    .topo-do-site h1{
        font-size: 34px;
        line-height: 37px;
    }
    
    /*Especialidades*/
    
    section.especialidades{
        padding: 20px 8%;
    }
   
    
    h2.titulo{
        font-size: 38px;    
    }
    /*sobre*/
    .sobre .txt-sobre h2{
        font-size: 28px;
        line-height: 35px;
        text-align: center;
    }
    .sobre .txt-sobre{
        padding: 20px 8%;
    }

    .sobre .img-sobre img{
        width: 100%;
        border-radius: 20px;
    }
    .sobre .img-sobre{
        padding: 20px 8%;
    }
    .sobre .txt-sobre .btn-social button{
        justify-content: space-between;
        text-align: center;
        
    }
    /*projetos*/
    section.projetos{
        padding: 80px 8%;
    }
    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        
        
    }
    section.projetos .flex{
        gap: 60px;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #13080bb4;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        opacity: 1;
        transition: .5s;
    }


    
}    
